@charset "ISO-8859-1";

#titlecontainer{
	background-color:#47c574
	
}
#navbar{
	background-color:#47c574 !Important;
	margin-top:0 !Important;
	margin-left:0 !Important;
	margin-right:0 !Important;	
}
#title{
margin-bottom:0;
color: white;
	}
#leasenearlink{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}
#yourleaselink{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}
#createleaselink{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}
#logoutlink{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}

#viewleasebutton{
background-color:#Bdce06 !Important;
	border: solid 2px black !Important;	
}
#allleases{
	background-color:#Bdce06 !Important;
	border: solid 2px black !Important;	
}
#reviewbooking{
	background-color:#Bdce06 !Important;
	border: solid 2px black !Important;
}
#yourhuntslink{
		background-color:#Bdce06 !Important;
	border: solid 2px black !Important;
}