@charset "ISO-8859-1";
.links{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-wrap: wrap;
	
	height:33%;
	margin: 1.0%;
	padding: 1.0%;
	background-color: black;
	
	
	
}
.btn{
	
	padding:1.0%;
	margin:1.0%;
	background-color:#A9B388;
}

