@charset "ISO-8859-1";

.main-container{
	
	display: flex;
	flex-direction: row;
}

.links{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-wrap: wrap;
	
	height:33%;
	margin: 1.0%;
	padding: 1.0%;
	background-color: black;
	
	
	
}
.btn{
	
	padding:1.0%;
	margin:1.0%;
	background-color:#A9B388;
}

.lease{
	border: 2px solid black;
	margin:1.5%;
	padding:1.5%;
	width:100%;
	display:flex;
	flex-direction: column;
	align-items:center;
	
}

.allHuntingLeases{
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	align-items:center;
	justify-content:space-between;
	width: 50%;
	
}

.map{
	display: flex;
	justify-content:space-evenly;
	width: 50%;
}

.title{
	display: flex;
	justify-content: center;
	;
}

.greeting{display: flex;
	justify-content: center;
	}
.main-container{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
}
