@charset "ISO-8859-1";
#maincontainer{
	background-color:#47c574
}
#catchline{
	color:white;
}
#login{
	color:white;
}
#usernamespan{
	color:white;
}

#passwordspan{
	color:white;
	}
#email{
	color:"white";
}

#zipcode{
	color:"white";
}

#email{
	color:"white" !Important;
}
#emailaddress{
	color:white;
}

#userzipcode{
	color:white;
}
	
#bodycontainer{
	background-color:#47c574;
	
}
#tagline{
	color:white;
}
#signupbutton{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}
#registerupbutton{
	background-color:#Bdce06 !Important;
	border: solid 2px black;
}
#pwconfirm{
	color:white;
}
#register{
	color:white;
}