#header {
	position: sticky;
	height: 70px;
	width: 100%;
	padding: 5px;
	align-items: center;
	display: flex;
	justify-content: space-around;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.menu-btn {
	background-color: transparent;
	border: 0;
}

.menu-btn:hover {
	background-color: lightgrey;
	border-radius: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#maincontainer {
	margin: 1em;
	display: flex;
	justify-content: center;
}

table, th, td {
	text-align: center;
	border: 2px solid black;
	border-collapse: collapse;
}

table th {
	padding: 6px;
	background-color: grey;
}

table td {
	padding: 6px;
}

table tr:nth-child(even) {
	background-color: white;
}

table tr:nth-child(odd) {
	background-color: lightgrey;
}

table th, table td {
	min-width: 80px;
}