@charset "ISO-8859-1";
#navbar{
	margin-top:0 !Important;
	border-radius: 2px !Important;
	background-color: #FFE5B4 !Important;
}
#allleases{
	background-color:#Bdce06 !Important;
	border: solid 2px black !Important;	
}